* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #00604A;
    display: grid;
    grid-template-columns: 695px auto;
    font-family: 'Open Sans', sans-serif;
}

#bio {
    max-width: 502px;
    max-height: 551px;
    margin-top: 107px;
    margin-left: 105px;
}

#institute {
    padding-top: 48px;
    padding-bottom: 31px;
}

#hobby {
    padding-bottom: 31px;
}

p, h1, h2, h5, h6 {
    color: #ffffff;
}

#bio h1 {
    height: 61px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: 'Asap', sans-serif;
}

h2 {
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

h5{
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

#institute p {
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    padding-top: 4px;
    
}

#desc p {
    height: 136px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-top: 4px;
}

#desc {
    margin-top: 32px;
}

.hobby h6{
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    background: #222952;
    border: 1px solid #222952;
    border-radius: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    padding: 6px 10px;
}

.hobby h6:hover {
    background: #FFA53F;
    border: 1px solid #222952;
    color: #222952;
}

img {
    margin-top: 80px;
    width: 745px;
    height: 555px;
}